@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url("https://use.typekit.net/rkp0ynn.css");

/* CSS reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea {margin:0; padding:0; border:0;font-style:normal;vertical-align:baseline;}
html {font-size:10px;}
body {width: 100%; font-size: 1rem;min-width:280px;}
table,tr,td{margin:0;padding:0;border-width:0;border-collapse:collapse;word-break:break-all;word-break:keep-all;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
fieldset,img { border:0; padding:0; margin:0; }
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal;}
ol,ul,li {list-style:none;}
caption,th {text-align:left;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before,q:after {content:''; content: none;}
abbr,acronym {border:0;}
table{width:100%;margin:0;padding:0;border-width:0;border-collapse:collapse;}
table th,table td{word-break:break-all;word-break:keep-all;}
button{padding:0;border:0;background-color:transparent;}
body{text-size-adjust: none;-webkit-text-size-adjust:none;}
body,input,textarea,a,select,button{color:#111; line-height:1.4; font-family:'NotoSansKR';font-weight:400;}
a {text-decoration:none; color:#111;}
* {box-sizing: border-box;word-break:keep-all;}
.en {font-family: "astoria", sans-serif;font-style: normal;font-weight:400;}
.hidden {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; overflow: hidden; clip: rect(0, 0, 0, 0);}
.p_display {display: block;}
.m_display {display: none;}

/* ··················· tablet ··················· */
@media all and ( max-width: 1080px ){
    .p_display {display: none;}
    .m_display {display: block;}
}